extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at tortor sollicitudin, sagittis est quis, tempus dolor. Praesent ut efficitur tortor. Pellentesque lobortis odio id sodales semper. Suspendisse ac laoreet turpis. Maecenas finibus pulvinar ultrices. Nullam in enim lacinia, egestas sapien vitae, vestibulum ligula. Vivamus dignissim euismod dignissim. Vivamus enim lorem, dignissim in pretium non, congue vitae dui. Sed mi massa, fermentum et leo ac, elementum blandit nulla.

                p Proin ut turpis quis lectus hendrerit porttitor. Fusce viverra at nisl vitae tincidunt. In rutrum ornare nulla non sagittis. In augue lacus, lobortis eget risus ac, euismod posuere nunc. Mauris vehicula posuere nunc, id feugiat purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum accumsan eu massa nec aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                p Cras in dolor vitae mi ornare dignissim. Morbi venenatis orci eget eleifend finibus. Ut purus sem, pretium sit amet magna auctor, dictum pretium eros. Pellentesque fermentum sodales sapien, vel ornare diam. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Ut volutpat neque id eros ullamcorper, ut iaculis nunc accumsan. Suspendisse vel consequat quam. Quisque sed pharetra quam, venenatis viverra nisi.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Ut volutpat neque id eros ullamcorper, ut iaculis nunc accumsan. Suspendisse vel consequat quam. Quisque sed pharetra quam, venenatis viverra nisi.
                    
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Ut volutpat neque id eros ullamcorper, ut iaculis nunc accumsan. Suspendisse vel consequat quam. Quisque sed pharetra quam, venenatis viverra nisi.
                    
